practica1/modulo.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
            targetNamespace="http://www.piat.upm.es/modulo" 
            xmlns:tns="http://www.piat.upm.es/modulo" 
            elementFormDefault="qualified">

    <xs:element name="modulo" type="tns:tipoModulo" />
    <xs:complexType name="tipoModulo">
        <xs:sequence>
            <xs:element name="tipoModulo" type="xs:string" />
            <xs:element name="funcionalidad" type="xs:string" />
            <xs:element name="componentes" />
        </xs:sequence>
        <xs:attribute name="idModulo" type="xs:string" use="required"/>
    </xs:complexType>
</xs:schema>